body{
    background-color:#eb6acf;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    margin: 0;
flex-direction: column;
}

*{
    font-family:   "EB Garamond", serif;
}
h1{

}

p {
    color: rgb(255, 0, 187);
}
img{
    width:100px;
    height:100px;
}
table{
    border-collapse:collapse;
}

th{
    background-color: beige;
}

th;
td{
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;

}